tqdm
spacy 
wandb
torch 
streamlit
faiss-cpu
faiss-gpu
langchain
pdf2image
pytesseract
trl==0.7.10
peft==0.8.2
pillow_heif
pdfminer.six
unstructured
opencv-python
langchain_core
datasets==2.17.0
accelerate==0.27.1
langchain_community
transformers==4.38.0
bitsandbytes==0.42.0
sentence-transformers
unstructured_inference
unstructured_pytesseract